.cuerpo{
    width:100%;
    position:absolute;
    z-index:1;
    padding-top: 50px;
    width: 100%;
    height: 100vh;
}

#fotoDePerfil{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 50%;
}

.tableCurriculum{
    margin-left:40px;
}